# Ignore everything (files and folders)
/**

# Whitelist specific files:
!.gitignore
!Makefile
!author

# Whitelist directories:
!libft/
!srcs/
!includes/
!eval_tests/

# Whitelist specific files in subdirectories:
!/libft/includes/*.h
!/libft/srcs/**/*.c
!/libft/Makefile

!/srcs/*.c
!/includes/*.h
!/eval_tests/Makefile
!/eval_tests/*.c.test
!/eval_tests/*.h
!/eval_tests/*.md